<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inforoom.PriceProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Inforoom.PriceProcessor.Properties.Settings>
   <setting name="AppCode" serializeAs="String">
    <value>13</value>
   </setting>
   <setting name="DBServerName" serializeAs="String">
    <value>testsql.analit.net</value>
   </setting>
   <setting name="DBUserName" serializeAs="String">
    <value>system</value>
   </setting>
   <setting name="DBPass" serializeAs="String">
    <value>123</value>
   </setting>
   <setting name="DatabaseName" serializeAs="String">
    <value>farm</value>
   </setting>
   <setting name="tbSources" serializeAs="String">
    <value>farm.Sources</value>
   </setting>
   <setting name="tbFormRules" serializeAs="String">
    <value>farm.FormRules</value>
   </setting>
   <setting name="tbClientsData" serializeAs="String">
    <value>usersettings.ClientsData</value>
   </setting>
   <setting name="tbRegions" serializeAs="String">
    <value>farm.Regions</value>
   </setting>
   <setting name="tbLogs" serializeAs="String">
    <value>logs.downlogs</value>
   </setting>
   <setting name="IMAPHost" serializeAs="String">
    <value>mail.adc.analit.net</value>
   </setting>
   <setting name="SMTPHost" serializeAs="String">
    <value>mail.adc.analit.net</value>
   </setting>
   <setting name="SMTPUserCopy" serializeAs="String">
    <value>morozov@analit.net</value>
   </setting>
   <setting name="SMTPUserFail" serializeAs="String">
    <value>morozov@analit.net</value>
   </setting>
   <setting name="SMTPUserError" serializeAs="String">
    <value>farmsystem@analit.net</value>
   </setting>
   <setting name="InboundPath" serializeAs="String">
    <value>C:\Temp\Inbound0</value>
   </setting>
   <setting name="TempPath" serializeAs="String">
    <value>C:\Temp\DownTemp\</value>
   </setting>
   <setting name="RequestInterval" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="Timeout" serializeAs="String">
    <value>120</value>
   </setting>
   <setting name="IMAPUser" serializeAs="String">
    <value>prccopy@analit.net</value>
   </setting>
   <setting name="IMAPPass" serializeAs="String">
    <value>123</value>
   </setting>
   <setting name="SMTPErrorList" serializeAs="String">
    <value>ErrorList@subscribe.analit.net</value>
   </setting>
   <setting name="WaybillIMAPUser" serializeAs="String">
    <value>prccopy@analit.net</value>
   </setting>
   <setting name="WaybillIMAPPass" serializeAs="String">
    <value>123</value>
   </setting>
   <setting name="FTPOptBox" serializeAs="String">
    <value>C:\Temp\FTPOptBox</value>
   </setting>
   <setting name="tbWaybillSources" serializeAs="String">
    <value>Documents.Waybill_Sources</value>
   </setting>
   <setting name="ResponseDocSubjectTemplateOnNothingAttachs" serializeAs="String">
    <value>Пришло письмо без вложенных документов</value>
   </setting>
   <setting name="ResponseDocBodyTemplateOnNothingAttachs" serializeAs="String">
    <value>Пришло письмо без вложенных документов.

С уважением,
  АК Инфорум</value>
   </setting>
   <setting name="ResponseDocSubjectTemplateOnMultiDomen" serializeAs="String">
    <value>Не возможно определить клиента для доставки документов</value>
   </setting>
   <setting name="ResponseDocBodyTemplateOnMultiDomen" serializeAs="String">
    <value>В письме указано несколько адресов с доменом waybills.analit.net или refused.analit.net.

С уважением,
  АК Инфорум</value>
   </setting>
   <setting name="HistoryPath" serializeAs="String">
    <value>C:\Temp\DownHistory</value>
   </setting>
   <setting name="ResponseDocSubjectTemplateOnNonExistentClient"
    serializeAs="String">
    <value>Ошибка при обработке письма</value>
   </setting>
   <setting name="ResponseDocBodyTemplateOnNonExistentClient" serializeAs="String">
    <value>Ошибка при обработке письма

С уважением,
  АК Инфорум</value>
   </setting>
   <setting name="DocumentFailMail" serializeAs="String">
    <value>morozov@analit.net</value>
   </setting>
   <setting name="FileDownloadInterval" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="ResponseDocSubjectTemplateOnUnknownProvider" serializeAs="String">
    <value>Неизвестный адрес отправителя</value>
   </setting>
   <setting name="ResponseDocBodyTemplateOnUnknownProvider" serializeAs="String">
    <value>Неизвестный адрес отправителя.

С уважением,
  АК Инфорум</value>
   </setting>
   <setting name="UnrecLetterMail" serializeAs="String">
    <value>morozov@analit.net</value>
   </setting>
   <setting name="DepthOfStorageArchivePrices" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="ClearScanInterval" serializeAs="String">
    <value>2</value>
   </setting>
        </Inforoom.PriceProcessor.Properties.Settings>
    </applicationSettings>
</configuration>