<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>

		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Inforoom.PriceProcessor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>

		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<appSettings>
		<add key="DebugProtekPath" value="C:\apps\priceprocessor\var\protek\" />
	</appSettings>

	<log4net>

		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="..\var\logs\PriceProcessor_" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<maxSizeRollBackups value="10" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="&#xD;&#xA;&#xD;&#xA;[Start]&#xD;&#xA;" />
				<footer value="[Stop]&#xD;&#xA;" />
				<conversionPattern value="%date{HH:mm:ss.fff} [%-5thread] %-5level %-29logger{1} [%-10ndc] - %message%newline" />
			</layout>
		</appender>

		<appender name="Email" type="log4net.Appender.SmtpAppender,log4net">
			<to value="service@analit.net" />
			<from value="service@analit.net" />
			<subject value="Ошибка в сервисе обработки прайс листов" />
			<smtpHost value="box.analit.net" />
			<lossy value="false" />
			<bufferSize value="1" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<conversionPattern value="Date: %date %n%m%n" />
			</layout>
			<threshold value="ERROR" />

			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Не удалось разобрать накладную" />
				<stackTrace value="ExcelLibrary.CompoundDocumentFormat" />
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Не удалось разобрать накладную" />
				<exceptionType value="Common.Tools.DbfException, Common.Tools" />
				<exceptionMessage value="Не могу преобразовать значение" />
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Не удалось разобрать накладную" />
				<exceptionType value="System.IndexOutOfRangeException" />
				<exceptionMessage value="Индекс находился вне границ массива" />
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Не удалось разобрать накладную" />
				<exceptionType value="System.DivideByZeroException" />
				<exceptionMessage value="Попытка деления на нуль" />
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Ошибка при разборе документа" />
				<exceptionType value="System.OverflowException" />
				<exceptionMessage value="Переполнение в результате выполнения арифметической операции" />
			</filter>

			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Ошибка при формализации прайс листа" />
				<exceptionType value="MySql.Data.MySqlClient.MySqlException, MySql.Data" />
				<exceptionMessage value="Deadlock found when trying to get lock; try restarting transaction" />
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Ошибка при формализации прайс листа" />
				<exceptionType value="System.IO.EndOfStreamException" />
				<exceptionMessage value="Чтение после конца потока невозможно." />
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Ошибка при формализации прайс листа" />
				<exceptionType value="MySql.Data.MySqlClient.MySqlException, MySql.Data" />
				<exceptionMessage value="Timeout expired" />
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Не удалось разобрать накладную" />
				<exceptionType value="System.OverflowException" />
				<exceptionMessage value="Переполнение в результате выполнения арифметической операции" />
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Не удалось разобрать накладную" />
				<exceptionType value="System.ArgumentException" />
				<exceptionMessage value="Is it really an excel file?" />
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Не удалось разобрать накладную" />
				<exceptionType value="System.Data.DuplicateNameException" />
				<exceptionMessage value="уже принадлежит этому DataTable" />
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Не удалось разобрать накладную" />
				<exceptionType value="System.FormatException" />
				<exceptionMessage value="Входная строка имела неверный формат" />
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Ошибка при формализации прайс листа" />
				<exceptionType value="MySql.Data.MySqlClient.MySqlException, MySql.Data" />
				<exceptionMessage value="Reading from the stream has failed" />
			</filter>

		</appender>

		<appender name="WaybillsEmail" type="log4net.Appender.SmtpAppender,log4net">
			<to value="service@analit.net" />
			<from value="docs@subscribe.analit.net" />
			<subject value="Ошибка в сервисе обработки прайс листов" />
			<smtpHost value="box.analit.net" />
			<lossy value="false" />
			<bufferSize value="1" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<conversionPattern value="Date: %date %n%m%n" />
			</layout>
			<threshold value="ERROR" />

			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Не удалось разобрать накладную" />
				<stackTrace value="ExcelLibrary.CompoundDocumentFormat" />
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Не удалось разобрать накладную" />
				<exceptionType value="Common.Tools.DbfException, Common.Tools" />
				<exceptionMessage value="Не могу преобразовать значение" />
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Не удалось разобрать накладную" />
				<exceptionType value="System.IndexOutOfRangeException" />
				<exceptionMessage value="Индекс находился вне границ массива" />
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Не удалось разобрать накладную" />
				<exceptionType value="System.DivideByZeroException" />
				<exceptionMessage value="Попытка деления на нуль" />
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Ошибка при разборе документа" />
				<exceptionType value="System.OverflowException" />
				<exceptionMessage value="Переполнение в результате выполнения арифметической операции" />
			</filter>


			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Ошибка при формализации прайс листа" />
				<exceptionType value="MySql.Data.MySqlClient.MySqlException, MySql.Data" />
				<exceptionMessage value="Deadlock found when trying to get lock; try restarting transaction" />
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Ошибка при формализации прайс листа" />
				<exceptionType value="System.IO.EndOfStreamException" />
				<exceptionMessage value="Чтение после конца потока невозможно." />
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Ошибка при формализации прайс листа" />
				<exceptionType value="MySql.Data.MySqlClient.MySqlException, MySql.Data" />
				<exceptionMessage value="Timeout expired" />
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Не удалось разобрать накладную" />
				<exceptionType value="System.OverflowException" />
				<exceptionMessage value="Переполнение в результате выполнения арифметической операции" />
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Не удалось разобрать накладную" />
				<exceptionType value="System.ArgumentException" />
				<exceptionMessage value="Is it really an excel file?" />
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Не удалось разобрать накладную" />
				<exceptionType value="System.Data.DuplicateNameException" />
				<exceptionMessage value="уже принадлежит этому DataTable" />
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Не удалось разобрать накладную" />
				<exceptionType value="System.FormatException" />
				<exceptionMessage value="Входная строка имела неверный формат" />
			</filter>
		</appender>

		<appender name="MySqlAdoNetAppenderInfo" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="1" />
			<errorHandler type="Common.Tools.Log4NetErrorHandler" />
			<connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
			<connectionString value="Database=analit;Data Source=bdstat.analit.net;Port=3306;User Id=AFdev;Password=password;pooling=true;default command timeout=200;Connection Timeout=1;Allow user variables=true;convert zero datetime=yes;" />
			<commandText value="INSERT INTO analit.Logs (Date, Level, Logger, Host, User, Message, Exception, App) VALUES (?Date, ?Level, ?Logger, ?Host, ?User, ?Message, ?Exception, 'PriceProcessor')" />
			<reconnectonerror value="true" />
			<usetransactions value="false" />
			<threshold value="INFO" />
			<parameter>
				<parameterName value="?Date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="?Level" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Logger" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Host" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{log4net:HostName}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?User" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{user}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Message" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Exception" />
				<dbType value="String" />
					<layout type="log4net.Layout.ExceptionLayout" />
				</parameter>
		</appender>

		<appender name="MySqlAdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="1" />
			<errorHandler type="Common.Tools.Log4NetErrorHandler" />
			<connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
			<connectionString value="Database=analit;Data Source=bdstat.analit.net;Port=3306;User Id=AFdev;Password=password;pooling=true;default command timeout=200;Connection Timeout=1;Allow user variables=true;convert zero datetime=yes;" />
			<commandText value="INSERT INTO analit.Logs (Date, Level, Logger, Host, User, Message, Exception, App) VALUES (?Date, ?Level, ?Logger, ?Host, ?User, ?Message, ?Exception, 'PriceProcessor')" />
			<reconnectonerror value="true" />
			<usetransactions value="false" />
			<threshold value="WARN" />
			<parameter>
				<parameterName value="?Date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="?Level" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Logger" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Host" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{log4net:HostName}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?User" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{user}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Message" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Exception" />
				<dbType value="String" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
		</appender>

		<root>
			<level value="WARN" />
			<appender-ref ref="LogFile" />
			<appender-ref ref="MySqlAdoNetAppender" />
			<appender-ref ref="Email" />
		</root>

		<logger name="Inforoom">
			<level value="INFO" />
		</logger>

		<logger name="InfoLog">
			<level value="INFO" />
			<appender-ref ref="MySqlAdoNetAppenderInfo" />
		</logger>

		<logger name="Inforoom.PriceProcessor.Waybills" additivity="false">
			<level value="WARN" />
			<appender-ref ref="LogFile" />
			<appender-ref ref="WaybillsEmail" />
			<appender-ref ref="MySqlAdoNetAppender" />
		</logger>

		<logger name="Inforoom.PriceProcessor.Downloader.WaybillProtekHandler">
			<level value="ERROR" />
		</logger>

		<logger name="NHibernate" additivity="false">
			<level value="OFF" />
		</logger>

	</log4net>

	<connectionStrings>
		<add name="db" connectionString="server=rdbms.adc.analit.net;username=ProcessingSvc; password=samepass;database=farm;Convert Zero Datetime=true; Allow User Variables=true;default command timeout=600;ConnectionLifeTime=1800;" />
	</connectionStrings>

	<applicationSettings>
		<Inforoom.PriceProcessor.Settings>
			<!--максимальный размер пакета в байтах который может обработать mysql-->
			<setting name="MySqlMaxPacketSize" serializeAs="String">
				<value>31457280</value>
			</setting>
			<setting name="HistoryPath" serializeAs="String">
				<value>C:\Boxes\Prices\ArchivePrices\</value>
			</setting>
			<setting name="InboundPath" serializeAs="String">
				<value>C:\Boxes\Prices\Inbound\</value>
			</setting>
			<setting name="TempPath" serializeAs="String">
				<value>C:\Boxes\Prices\DownTemp\</value>
			</setting>
			<setting name="BasePath" serializeAs="String">
				<value>C:\Boxes\Prices\Base\</value>
			</setting>
			<setting name="ErrorFilesPath" serializeAs="String">
				<value>C:\Boxes\Prices\ErrorFiles\</value>
			</setting>
			<setting name="IMAPHost" serializeAs="String">
				<value>box.analit.net</value>
			</setting>
			<setting name="IMAPPort" serializeAs="String">
				<value>143</value>
			</setting>
			<setting name="IMAPUrl" serializeAs="String">
				<value>imap://box.analit.net?starttls=false</value>
			</setting>
			<setting name="MailKitClientUser" serializeAs="String">
				<value>waybills@waybills.analit.net</value>
			</setting>
			<setting name="MailKitClientPass" serializeAs="String">
				<value>1Fu$7xZa</value>
			</setting>
			<setting name="IMAPHandlerErrorMessageTo" serializeAs="String">
				<value>tech@analit.net</value>
			</setting>
			<setting name="IMAPSourceFolder" serializeAs="String">
				<value>INBOX</value>
			</setting>
			<setting name="SMTPHost" serializeAs="String">
				<value>box.analit.net</value>
			</setting>
			<setting name="SMTPUserFail" serializeAs="String">
				<value>farm@analit.net</value>
			</setting>
			<setting name="HandlerRequestInterval" serializeAs="String">
				<value>30</value>
			</setting>
			<setting name="HandlerTimeout" serializeAs="String">
				<value>30</value>
			</setting>
			<setting name="IMAPUser" serializeAs="String">
				<value>prc@analit.net</value>
			</setting>
			<setting name="IMAPPass" serializeAs="String">
				<value>YjdsaReHtZq</value>
			</setting>
			<setting name="SMTPErrorList" serializeAs="String">
				<value>ErrorList@subscribe.analit.net</value>
			</setting>
			<setting name="WaybillIMAPUser" serializeAs="String">
				<value>root@waybills.analit.net</value>
			</setting>
			<setting name="WaybillIMAPPass" serializeAs="String">
				<value>&lt;fcnjy241</value>
			</setting>
			<setting name="FTPOptBoxPath" serializeAs="String">
				<value>\\adc.analit.net\inforoom\firstQueue\FTP\OptBox</value>
			</setting>
			<setting name="CertificatePath" serializeAs="String">
				<value>\\box.adc.analit.net\Certificates</value>
			</setting>
				<setting name="DocumentPath" serializeAs="String">
				<value>C:\Boxes\AptBox</value>
			</setting>
			<setting name="IdxDir" serializeAs="String">
				<value>..\var\index\</value>
			</setting>
			<!--сюда складываются накладные которые не удалось разобрать или если включен debug-->
			<setting name="DownWaybillsPath" serializeAs="String">
				<value>..\var\debug-waybills\</value>
			</setting>
	 <setting name="ResponseDocSubjectTemplateOnNothingAttachs" serializeAs="String">
		<value>Документы (накладные, отказы) не доставлены аптеке</value>
	 </setting>
	 <setting name="ResponseDocSubjectTemplateOnMultiDomen" serializeAs="String">
		<value>Документы (накладные, отказы) невозможно доставить аптеке</value>
	 </setting>
	 <setting name="ResponseDocSubjectTemplateOnNonExistentClient" serializeAs="String">
		<value>Документы (накладные, отказы) невозможно доставить аптеке</value>
	 </setting>
	 <setting name="DocumentFailMail" serializeAs="String">
		<value>tech@analit.net</value>
	 </setting>
	 <setting name="FileDownloadInterval" serializeAs="String">
		<value>5</value>
	 </setting>
	 <setting name="ResponseDocSubjectTemplateOnUnknownProvider" serializeAs="String">
		<value>Документы (накладные, отказы) невозможно доставить аптеке</value>
	 </setting>
	 <setting name="UnrecLetterMail" serializeAs="String">
		<value>pricescopy@analit.net</value>
	 </setting>
	 <setting name="DepthOfStorageArchivePrices" serializeAs="String">
		<value>60</value>
	 </setting>
	 <setting name="ClearScanInterval" serializeAs="String">
		<value>2</value>
	 </setting>
	 <setting name="ASSORT_FLG" serializeAs="String">
		<value>1</value>
	 </setting>
	 <setting name="CostsNotExistsError" serializeAs="String">
		<value>Прайс не является ассортиментным, но не содержит ни одной цены.</value>
	 </setting>
	 <setting name="UnknownPriceError" serializeAs="String">
		<value>Не возможно сопоставить прайс файлу : ({0})</value>
	 </setting>
	 <setting name="DisableByBillingStatusError" serializeAs="String">
		<value>Прайс отключен по причине : BillingStatus</value>
	 </setting>
	 <setting name="DisableByFirmStatusError" serializeAs="String">
		<value>Прайс отключен по причине : FirmStatus</value>
	 </setting>
	 <setting name="UnknownPriceFMTError" serializeAs="String">
		<value>Неизвестный формат прайса : ({0})</value>
	 </setting>
	 <setting name="BaseCostNotExistsError" serializeAs="String">
		<value>Прайс не имеет базовой цены.</value>
	 </setting>
	 <setting name="ZeroRollbackError" serializeAs="String">
		<value>Кол-во нулевых позиций выше допустимого.</value>
	 </setting>
	 <setting name="PrevFormRollbackError" serializeAs="String">
		<value>Кол-во формализованных позиций меньше кол-ва формализованных в прошлый раз.</value>
	 </setting>
	 <setting name="ParseMaskError" serializeAs="String">
		<value>Не удалось разобрать маску имени {0}</value>
	 </setting>
	 <setting name="DoubleGroupMaskError" serializeAs="String">
		<value>В маски имени два раза встречается группа {0}.</value>
	 </setting>
	 <setting name="MinFieldCountError" serializeAs="String">
		<value>Кол-во полей, объявленных для распознания, меньше 1.</value>
	 </setting>
	 <setting name="ThreadAbortError" serializeAs="String">
		<value>Формализация прайса был остановленна.</value>
	 </setting>
	 <setting name="FileCopyError" serializeAs="String">
		<value>Не удалось скопировать файл {0} в каталог {1}.\nПричина : {2}</value>
	 </setting>
	 <setting name="MaxErrorsError" serializeAs="String">
		<value>Файл {0} помещен в каталог {1} в результате {2} неудачных попыток формализации.</value>
	 </setting>
	 <setting name="UnknowCostTypeError" serializeAs="String">
		<value>Неизвестный тип ценовых колонок прайса : ({0})</value>
	 </setting>
	 <setting name="MaxLiveTime" serializeAs="String">
		<value>50</value>
	 </setting>
	 <setting name="CheckZero" serializeAs="String">
		<value>False</value>
	 </setting>
	 <setting name="MaxErrorCount" serializeAs="String">
		<value>5</value>
	 </setting>
	 <setting name="MaxWorkThread" serializeAs="String">
		<value>30</value>
	 </setting>
	<!--максимальное количество ниток которые могут быть заняты перепроводимыми прайс-листами-->
	<setting name="MaxRetransThread" serializeAs="String">
		<value>15</value>
	</setting>
	 <setting name="MinRepeatTranCount" serializeAs="String">
		<value>5</value>
	 </setting>
	 <setting name="DateMask" serializeAs="String">
		<value>([^\d]*(?&lt;Day&gt;\d*?)[\s\.\-\/])?(?&lt;Month&gt;[^\s\.\-\/]*?)[\s\.\-\/](?&lt;Year&gt;\d+)([^\d].*)?$</value>
	 </setting>
	 <setting name="FarmSystemEmail" serializeAs="String">
		<value>farmsystem@analit.net</value>
	 </setting>
	 <setting name="SMTPWarningList" serializeAs="String">
		<value>WarningList@subscribe.analit.net</value>
	 </setting>
      <setting name="RedmineAssignedTo" serializeAs="String">
        <value>218</value>
      </setting>
			<setting name="RedmineAssignedToWithPriority" serializeAs="String">
				<value>161</value>
			</setting>
      <setting name="RedmineProjectForWaybillIssue" serializeAs="String">
        <value>77</value>
      </setting>
			<setting name="RedmineProjectForWaybillIssueWithPriority" serializeAs="String">
				<value>81</value>
			</setting>
      <setting name="RedmineKeyForWaybillIssue" serializeAs="String">
        <value>04b22a4b9dae7ca955ffe8d3d2917ff4b0551073</value>
      </setting>
      <setting name="RedmineUrl" serializeAs="String">
        <value>http://redmine.analit.net/projects/{0}/issues.json?key={1}</value>
      </setting>
      <setting name="RedmineUrlFileUpload" serializeAs="String">
        <value>http://redmine.analit.net/uploads.xml?key={0}</value>
      </setting>
	 <setting name="ResponseDocBodyTemplateOnNothingAttachs" serializeAs="String">
		<value>Добрый день.

Документы (накладные, отказы) не были доставлены аптеке, т.к. в Вашем письме отсутствуют вложения.
К обработке принимаются только сообщения, содержащие документы во вложении.

Пожалуйста, внесите необходимые изменения и отправьте документы вновь.

Во вложении этого письма находится оригинал Вашего сообщения.

С уважением,
АналитФармация.</value>
	 </setting>
	 <setting name="ResponseDocBodyTemplateOnMultiDomen" serializeAs="String">
		<value>Добрый день.

Документы (накладные, отказы) не были доставлены аптеке, т.к.
в адресе получателя указано несколько клиентов (вероятно, указаны адреса разных аптек), допускается только один.

Пожалуйста, внесите необходимые изменения и отправьте документы вновь.

Во вложении этого письма находится оригинал Вашего сообщения.

С уважением,
АналитФармация.</value>
	 </setting>
	 <setting name="ResponseDocBodyTemplateOnNonExistentClient" serializeAs="String">
		<value>Добрый день.

Документы (накладные, отказы) не были доставлены аптеке, т.к.
указанный адрес получателя не соответствует ни одной из аптек.

Пожалуйста, проверьте корректность указания адреса аптеки и отправьте документы вновь.

Во вложении этого письма находится оригинал Вашего сообщения.

С уважением,
АналитФармация.</value>
	 </setting>
	 <setting name="ResponseDocBodyTemplateOnUnknownProvider" serializeAs="String">
		<value>Добрый день.

Документы (накладные, отказы) не были доставлены аптеке, т.к.
адрес, с которого отправлено сообщение с документами, не зарегистрирован в системе, как разрешенный адрес для приема документов от Вашей организации .
Пожалуйста, для отправки документов используйте согласованные ранее адреса. Либо если Вы в дальнейшем предполагаете отправлять документы с этого адреса, добавьте его в список разрешенных, используя интерфейс поставщика.

Пожалуйста, изменив адрес отправителя или выполнив настройки, отправьте документы вновь.

Во вложении этого письма находится оригинал Вашего сообщения.

С уважением,
АналитФармация.</value>
	 </setting>
	 <setting name="ServiceMail" serializeAs="String">
		<value>service@analit.net</value>
	 </setting>
	 <setting name="MaxWaybillAttachmentSize" serializeAs="String">
		<value>5120</value>
	 </setting>
	 <setting name="ResponseDocSubjectTemplateOnMaxWaybillAttachment" serializeAs="String">
		<value>Размер документа (накладные, отказы) больше доспустимого значения</value>
	 </setting>
	 <setting name="ResponseDocBodyTemplateOnMaxWaybillAttachment" serializeAs="String">
		<value>Добрый день.

Документы (накладные, отказы) не были доставлены аптеке, т.к. одно из вложений имеет размер больше маскимально допустимого значения в {0} Кб.

Пожалуйста, изменив содержимое вложения, отправьте документы вновь.

Во вложении этого письма находится оригинал Вашего сообщения.

С уважением,
АналитФармация.
</value>
	 </setting>
	 <setting name="RemotingPort" serializeAs="String">
		<value>888</value>
	 </setting>
	 <setting name="RemotingServiceName" serializeAs="String">
		<value>RemotePriceProcessor</value>
	 </setting>
	 <setting name="AbortingThreadTimeout" serializeAs="String">
		<value>60</value>
	 </setting>
			<setting name="WCFServicePort" serializeAs="String">
				<value>900</value>
			</setting>
			<setting name="WCFServiceName" serializeAs="String">
				<value>RemotePriceProcessorService</value>
			</setting>
			<setting name="WCFQueueName" serializeAs="String">
				<value>net.msmq://localhost/private/PriceProcessorWCFQueue</value>
			</setting>
			<setting name="DocIMAPUser" serializeAs="String">
				<value>alldocs@docs.analit.net</value>
			</setting>
			<setting name="DocIMAPPass" serializeAs="String">
				<value>Gytj438kasd4jk</value>
			</setting>
			<setting name="AttachmentPath" serializeAs="String">
				<value>\\adc.analit.net\Inforoom\secondQueue\WebApps\PrgDataService\Results\Attachments</value>
			</setting>
			<setting name="MaxMiniMailSize" serializeAs="String">
				<value>3</value>
			</setting>
			<setting name="UIDProcessTimeout" serializeAs="String">
				<value>20</value>
			</setting>
		</Inforoom.PriceProcessor.Settings>
	</applicationSettings>
</configuration>
