<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Inforoom.PriceProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		
	</configSections>

	<log4net>

		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="PriceProcessor_" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<MaxSizeRollBackups value="20" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="&#13;&#10;&#13;&#10;[Start]&#13;&#10;" />
				<footer value="[Stop]&#13;&#10;" />
				<conversionPattern value="%date{HH:mm:ss.fff} [%-5thread] %-5level %-29logger{1} [%-10ndc] - %message%newline" />
			</layout>
		</appender>

		<appender name="Email" type="log4net.Appender.SmtpAppender,log4net">
			<to value="service@analit.net" />
			<from value="service@analit.net" />
			<subject value="Ошибка в сервисе обработки прайс листов" />
			<smtpHost value="box.analit.net" />
			<lossy value="false" />
			<bufferSize value="1" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<conversionPattern value="Date: %date %n%m%n" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="WARN" />
				<levelMax value="FATAL" />
			</filter>
		</appender>

		<appender name="WaybillsEmail" type="log4net.Appender.SmtpAppender,log4net">
			<to value="service@analit.net" />
			<from value="docs@subscribe.analit.net" />
			<subject value="Ошибка в сервисе обработки прайс листов" />
			<smtpHost value="box.analit.net" />
			<lossy value="false" />
			<bufferSize value="1" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<conversionPattern value="Date: %date %n%m%n" />
			</layout>
			<threshold value="ERROR" />
		</appender>

		<root>
			<level value="ERROR" />
			<appender-ref ref="LogFile" />
		</root>

		<logger name="Inforoom" additivity="false">
			<level value="INFO" />
			<appender-ref ref="LogFile" />
		</logger>

		<logger name="Inforoom.PriceProcessor.Waybills" additivity="false">
			<level value="WARN" />
			<appender-ref ref="LogFile" />
			<appender-ref ref="WaybillsEmail" />
		</logger>

		<logger name="Inforoom.PriceProcessor.Downloader.WaybillFtpSourceHandler" additivity="false">
			<level value="ERROR" />
			<appender-ref ref="LogFile" />
			<appender-ref ref="WaybillsEmail" />
		</logger>


    <logger name="Inforoom.PriceProcessor.Rosta" additivity="false">
			<level value="DEBUG" />
			<appender-ref ref="LogFile" />
			<appender-ref ref="Email" />
		</logger>

	</log4net>

	<connectionStrings>
		<add name="DB" connectionString="server=sql.analit.net;username=ProcessingSvc; password=samepass; database=farm; pooling=true; Convert Zero Datetime=true; Allow User Variables=true;"/>
	</connectionStrings>
	
	<applicationSettings>
		<Inforoom.PriceProcessor.Properties.Settings>
			<setting name="HistoryPath" serializeAs="String">
				<value>C:\ArchivePrices\</value>
			</setting>
			<setting name="InboundPath" serializeAs="String">
				<value>C:\Prices\Inbound\</value>
			</setting>
			<setting name="TempPath" serializeAs="String">
				<value>C:\Prices\DownTemp\</value>
			</setting>
			<setting name="BasePath" serializeAs="String">
				<value>C:\Prices\Base\</value>
			</setting>
			<setting name="ErrorFilesPath" serializeAs="String">
				<value>C:\Prices\ErrorFiles\</value>
			</setting>

   <setting name="IMAPHost" serializeAs="String">
    <value>box.analit.net</value>
   </setting>
   <setting name="IMAPPort" serializeAs="String">
     <value>143</value>
   </setting>
   <setting name="IMAPSourceFolder" serializeAs="String">
     <value>INBOX</value>
   </setting>
   <setting name="SMTPHost" serializeAs="String">
    <value>box.analit.net</value>
   </setting>
   <setting name="SMTPUserFail" serializeAs="String">
    <value>farm@analit.net</value>
   </setting>
   <setting name="HandlerRequestInterval" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="HandlerTimeout" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="IMAPUser" serializeAs="String">
    <value>prc@analit.net</value>
   </setting>
   <setting name="IMAPPass" serializeAs="String">
    <value>YjdsaReHtZq</value>
   </setting>
   <setting name="SMTPErrorList" serializeAs="String">
    <value>ErrorList@subscribe.analit.net</value>
   </setting>
   <setting name="WaybillIMAPUser" serializeAs="String">
    <value>root@waybills.analit.net</value>
   </setting>
   <setting name="WaybillIMAPPass" serializeAs="String">
    <value>&lt;fcnjy241</value>
   </setting>
   <setting name="FTPOptBoxPath" serializeAs="String">
    <value>\\adc.analit.net\Инфорум\FTP\OptBox</value>
   </setting>
		<!--
		здесь ищем накладные для разбора, из-за dfs prgdata может положить файлы на один сервер а priceprocessor искать их на другом в результате он ничего не найдет и свалится
		что бы этого избежать берем конкретный сервер
		-->
		<setting name="WaybillsPath" serializeAs="String">
			<value>\\acdcserv.adc.analit.net\FTP\OptBox\</value>
		</setting>
			<!--сюда складываются накладные которые не удалось разобрать или если включен debug-->
			<setting name="DownWaybillsPath" serializeAs="String">
    <value>C:\Prices\DownWaybills\</value>
   </setting>
   <setting name="ResponseDocSubjectTemplateOnNothingAttachs" serializeAs="String">
    <value>Документы (накладные, отказы) не доставлены аптеке</value>
   </setting>
   <setting name="ResponseDocSubjectTemplateOnMultiDomen" serializeAs="String">
    <value>Документы (накладные, отказы) невозможно доставить аптеке</value>
   </setting>
   <setting name="ResponseDocSubjectTemplateOnNonExistentClient"
    serializeAs="String">
    <value>Документы (накладные, отказы) невозможно доставить аптеке</value>
   </setting>
   <setting name="DocumentFailMail" serializeAs="String">
    <value>tech@analit.net</value>
   </setting>
   <setting name="FileDownloadInterval" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="ResponseDocSubjectTemplateOnUnknownProvider" serializeAs="String">
    <value>Документы (накладные, отказы) невозможно доставить аптеке</value>
   </setting>
   <setting name="UnrecLetterMail" serializeAs="String">
    <value>pricescopy@analit.net</value>
   </setting>
   <setting name="DepthOfStorageArchivePrices" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="ClearScanInterval" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="ASSORT_FLG" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="CostsNotExistsError" serializeAs="String">
    <value>Прайс не является ассортиментным, но не содержит ни одной цены.</value>
   </setting>
   <setting name="UnknownPriceError" serializeAs="String">
    <value>Не возможно сопоставить прайс файлу : ({0})</value>
   </setting>
   <setting name="DisableByBillingStatusError" serializeAs="String">
    <value>Прайс отключен по причине : BillingStatus</value>
   </setting>
   <setting name="DisableByFirmStatusError" serializeAs="String">
    <value>Прайс отключен по причине : FirmStatus</value>
   </setting>
   <setting name="UnknownPriceFMTError" serializeAs="String">
    <value>Неизвестный формат прайса : ({0})</value>
   </setting>
   <setting name="SheetsNotExistsError" serializeAs="String">
    <value>Файл не содержит листов</value>
   </setting>
   <setting name="BaseCostNotExistsError" serializeAs="String">
    <value>Прайс не имеет базовой цены.</value>
   </setting>
   <setting name="DoubleBaseCostsError" serializeAs="String">
    <value>Прайс имеет две базовые цены : {0} и {1}.</value>
   </setting>
   <setting name="FieldNameBaseCostsError" serializeAs="String">
    <value>У базовой цены прайса не определенно название поля.</value>
   </setting>
   <setting name="ZeroRollbackError" serializeAs="String">
    <value>Кол-во нулевых позиций выше допустимого.</value>
   </setting>
   <setting name="PrevFormRollbackError" serializeAs="String">
    <value>Кол-во формализованных позиций меньше кол-ва формализованных в прошлый раз.</value>
   </setting>
   <setting name="FieldsNotExistsError" serializeAs="String">
    <value>Лист не содержит полей.</value>
   </setting>
   <setting name="ParseMaskError" serializeAs="String">
    <value>Не удалось разобрать маску имени {0}</value>
   </setting>
   <setting name="DoubleGroupMaskError" serializeAs="String">
    <value>В маски имени два раза встречается группа {0}.</value>
   </setting>
   <setting name="MinFieldCountError" serializeAs="String">
    <value>Кол-во полей, объявленных для распознания, меньше 1.</value>
   </setting>
   <setting name="PeriodParseError" serializeAs="String">
    <value>Ошибка в разборе срока годности для значения '{0}'.</value>
   </setting>
   <setting name="ThreadAbortError" serializeAs="String">
    <value>Формализация прайса был остановленна.</value>
   </setting>
   <setting name="FileCopyError" serializeAs="String">
    <value>Не удалось скопировать файл {0} в каталог {1}.\nПричина : {2}</value>
   </setting>
   <setting name="MaxErrorsError" serializeAs="String">
    <value>Файл {0} помещен в каталог {1} в результате {2} неудачных попыток формализации.</value>
   </setting>
   <setting name="UnknowCostTypeError" serializeAs="String">
    <value>Неизвестный тип ценовых колонок прайса : ({0})</value>
   </setting>
   <setting name="MulticolumnAsPriceError" serializeAs="String">
    <value>Попытка формализовать ценовую колонку мультиколоночного прайс-листа как прайс.</value>
   </setting>
   <setting name="MaxLiveTime" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="CheckZero" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MaxErrorCount" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="MaxWorkThread" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="MaxRepeatTranCount" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="MinRepeatTranCount" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="MaxPositionInsertToCore" serializeAs="String">
    <value>250</value>
   </setting>
   <setting name="DateMask" serializeAs="String">
    <value>([^\d]*(?&lt;Day&gt;\d*?)[\s\.\-\/])?(?&lt;Month&gt;[^\s\.\-\/]*?)[\s\.\-\/](?&lt;Year&gt;\d+)([^\d].*)?$</value>
   </setting>
   <setting name="FarmSystemEmail" serializeAs="String">
    <value>farmsystem@analit.net</value>
   </setting>
   <setting name="SMTPWarningList" serializeAs="String">
    <value>WarningList@subscribe.analit.net</value>
   </setting>
   <setting name="ResponseDocBodyTemplateOnNothingAttachs" serializeAs="String">
    <value>Добрый день.

Документы (накладные, отказы) не были доставлены аптеке, т.к. в Вашем письме отсутствуют вложения.
К обработке принимаются только сообщения, содержащие документы во вложении.

Пожалуйста, внесите необходимые изменения и отправьте документы вновь.

Во вложении этого письма находится оригинал Вашего сообщения.

С уважением,
АК "Инфорум".</value>
   </setting>
   <setting name="ResponseDocBodyTemplateOnMultiDomen" serializeAs="String">
    <value>Добрый день.

Документы (накладные, отказы) не были доставлены аптеке, т.к.
в адресе получателя указано несколько клиентов (вероятно, указаны адреса разных аптек), допускается только один.

Пожалуйста, внесите необходимые изменения и отправьте документы вновь.

Во вложении этого письма находится оригинал Вашего сообщения.

С уважением,
АК "Инфорум".</value>
   </setting>
   <setting name="ResponseDocBodyTemplateOnNonExistentClient" serializeAs="String">
    <value>Добрый день.

Документы (накладные, отказы) не были доставлены аптеке, т.к.
указанный адрес получателя не соответствует ни одной из аптек.

Пожалуйста, проверьте корректность указания адреса аптеки и отправьте документы вновь.

Во вложении этого письма находится оригинал Вашего сообщения.

С уважением,
АК "Инфорум".</value>
   </setting>
   <setting name="ResponseDocBodyTemplateOnUnknownProvider" serializeAs="String">
    <value>Добрый день.

Документы (накладные, отказы) не были доставлены аптеке, т.к.
адрес, с которого отправлено сообщение с документами, не зарегистрирован в системе, как разрешенный адрес для приема документов от Вашей организации .
Пожалуйста, для отправки документов используйте согласованные ранее адреса. Либо если Вы в дальнейшем предполагаете отправлять документы с этого адреса, добавьте его в список разрешенных, используя интерфейс поставщика.

Пожалуйста, изменив адрес отправителя или выполнив настройки, отправьте документы вновь.

Во вложении этого письма находится оригинал Вашего сообщения.

С уважением,
АК "Инфорум".</value>
   </setting>
   <setting name="ServiceMail" serializeAs="String">
    <value>service@analit.net</value>
   </setting>
   <setting name="MaxWaybillAttachmentSize" serializeAs="String">
    <value>1024</value>
   </setting>
   <setting name="ResponseDocSubjectTemplateOnMaxWaybillAttachment"
    serializeAs="String">
    <value>Размер документа (накладные, отказы) больше доспустимого значения</value>
   </setting>
   <setting name="ResponseDocBodyTemplateOnMaxWaybillAttachment"
    serializeAs="String">
    <value>Добрый день.

Документы (накладные, отказы) не были доставлены аптеке, т.к. одно из вложений имеет размер больше маскимально допустимого значения в {0} Кб.

Пожалуйста, изменив содержимое вложения, отправьте документы вновь.

Во вложении этого письма находится оригинал Вашего сообщения.

С уважением,
АК "Инфорум".
</value>
   </setting>
   <setting name="RemotingPort" serializeAs="String">
    <value>888</value>
   </setting>
   <setting name="RemotingServiceName" serializeAs="String">
    <value>RemotePriceProcessor</value>
   </setting>
   <setting name="CorePrimaryFields" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>ProductId</string>
      <string>PriceCode</string>
      <string>CodeFirmCr</string>
      <string>SynonymCode</string>
      <string>SynonymFirmCrCode</string>
      <string>Code</string>
      <string>Junk</string>
      <string>Period</string>
      <string>RequestRatio</string>
      <string>OrderCost</string>
      <string>MinOrderCount</string>
      <string>ProducerCost</string>       
     </ArrayOfString>
    </value>
   </setting>
   <setting name="AbortingThreadTimeout" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="SyncPriceCodes" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>259</string>
      <string>4596</string>
      <string>3779</string>
      <string>1802</string>
      <string>4025</string>
      <string>4026</string>
      <string>4027</string>
<string>2</string>
<string>4</string>
<string>5</string>
<string>7</string>
<string>13</string>
<string>14</string>
<string>18</string>
<string>20</string>
<string>22</string>
<string>23</string>
<string>31</string>
<string>36</string>
<string>37</string>
<string>38</string>
<string>41</string>
<string>45</string>
<string>46</string>
<string>49</string>
<string>55</string>
<string>57</string>
<string>61</string>
<string>62</string>
<string>63</string>
<string>66</string>
<string>76</string>
<string>82</string>
<string>84</string>
<string>90</string>
<string>92</string>
<string>94</string>
<string>96</string>
<string>97</string>
<string>98</string>
<string>99</string>
<string>102</string>
<string>104</string>
<string>109</string>
<string>110</string>
<string>111</string>
<string>112</string>
<string>113</string>
<string>114</string>
<string>115</string>
<string>116</string>
<string>117</string>
<string>118</string>
<string>124</string>
<string>126</string>
<string>127</string>
<string>128</string>
<string>131</string>
<string>132</string>
<string>138</string>
<string>141</string>
<string>148</string>
<string>150</string>
<string>152</string>
<string>156</string>
<string>157</string>
<string>158</string>
<string>162</string>
<string>163</string>
<string>166</string>
<string>182</string>
<string>192</string>
<string>202</string>
<string>205</string>
<string>206</string>
<string>211</string>
<string>212</string>
<string>216</string>
<string>217</string>
<string>239</string>
<string>246</string>
<string>249</string>
<string>255</string>
<string>257</string>
<string>262</string>
<string>266</string>
<string>272</string>
<string>287</string>
<string>291</string>
<string>292</string>
<string>294</string>
<string>295</string>
<string>296</string>
<string>297</string>
<string>298</string>
<string>299</string>
<string>302</string>
<string>304</string>
<string>307</string>
<string>308</string>
<string>309</string>
<string>311</string>
<string>312</string>
<string>313</string>
<string>315</string>
<string>319</string>
<string>321</string>
<string>322</string>
<string>328</string>
<string>331</string>
<string>333</string>
<string>339</string>
<string>346</string>
<string>348</string>
<string>355</string>
<string>929</string>
<string>930</string>
<string>931</string>
<string>932</string>
<string>1492</string>
<string>1556</string>
<string>1565</string>
<string>1649</string>
<string>1657</string>
<string>1814</string>
<string>1830</string>
<string>1831</string>
<string>1837</string>
<string>1838</string>
<string>1839</string>
<string>1842</string>
<string>1843</string>
<string>1845</string>
<string>1846</string>
<string>1850</string>
<string>1853</string>
<string>1861</string>
<string>1893</string>
<string>1926</string>
<string>1935</string>
<string>1951</string>
<string>1952</string>
<string>1953</string>
<string>1959</string>
<string>1966</string>
<string>1967</string>
<string>1968</string>
<string>1969</string>
<string>1976</string>
<string>1979</string>
<string>1986</string>
<string>1988</string>
<string>1994</string>
<string>2002</string>
<string>2007</string>
<string>2008</string>
<string>2009</string>
<string>2010</string>
<string>2015</string>
<string>2016</string>
<string>2018</string>
<string>2048</string>
<string>2050</string>
<string>2055</string>
<string>2056</string>
<string>2059</string>
<string>2086</string>
<string>2090</string>
<string>2098</string>
<string>2126</string>
<string>2151</string>
<string>2152</string>
<string>2162</string>
<string>2164</string>
<string>2165</string>
<string>2169</string>
<string>2172</string>
<string>2179</string>
<string>2183</string>
<string>2222</string>
<string>2223</string>
<string>2224</string>
<string>2225</string>
<string>2233</string>
<string>2244</string>
<string>2295</string>
<string>2296</string>
<string>2301</string>
<string>2331</string>
<string>2386</string>
<string>2390</string>
<string>2408</string>
<string>2409</string>
<string>2437</string>
<string>2438</string>
<string>2439</string>
<string>2553</string>
<string>2621</string>
<string>2627</string>
<string>2631</string>
<string>2634</string>
<string>2637</string>
<string>2646</string>
<string>2670</string>
<string>3312</string>
<string>3341</string>
<string>3374</string>
<string>3375</string>
<string>3386</string>
<string>3480</string>
<string>3495</string>
<string>3496</string>
<string>3504</string>
<string>3506</string>
<string>3507</string>
<string>3942</string>
<string>3993</string>
<string>4011</string>
<string>4015</string>
<string>4263</string>
<string>4267</string>
<string>4297</string>
<string>4310</string>
<string>4322</string>
<string>4399</string>
<string>4413</string>
<string>4479</string>
<string>4480</string>
<string>4504</string>
<string>4505</string>
<string>4579</string>
<string>4581</string>
<string>4582</string>
<string>4595</string>
<string>4599</string>
<string>4604</string>
<string>4609</string>
<string>4611</string>
<string>4612</string>
<string>4614</string>
<string>4615</string>
<string>4617</string>
<string>4624</string>
<string>4626</string>
<string>4628</string>
<string>4629</string>
<string>4630</string>
<string>4631</string>
<string>4633</string>
<string>4636</string>
<string>4637</string>
<string>4640</string>
<string>4641</string>
<string>4642</string>
<string>4645</string>
<string>4647</string>
<string>4649</string>
<string>4650</string>
     </ArrayOfString>
    </value>
   </setting>
      <setting name="WCFServicePort" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="WCFServiceName" serializeAs="String">
        <value>RemotePriceProcessorService</value>
      </setting>
    </Inforoom.PriceProcessor.Properties.Settings>
  </applicationSettings>
</configuration>