<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
 </configSections>
	<appSettings>
		<add key="SimpleLog.SMTPHost" value="mail.adc.analit.net"/>
		<add key="SimpleLog.FromMail" value="service@analit.net"/>
		<add key="SimpleLog.ToMail" value="service@analit.net"/>
		<add key="SimpleLog.Logging" value="true"/>
		<add key="LogDebug" value="false"/>
	</appSettings>
</configuration>